[user]
	name = Jacob Scherber
	email = jscherber@microsoft.com

[core]
	autocrlf = true

[diff]
	tool = semanticmerge

[difftool "semanticdiff"]
    cmd = C:/Users/jscherber/AppData/Local/semanticmerge/semanticmergetool.exe -s \"$LOCAL\" -d \"$REMOTE\"

[difftool]
	prompt = false
[difftool "semanticmerge"]
	cmd = \"C:\\Users\\jscherber\\AppData\\Local\\semanticmerge\\semanticmergetool.exe\" -s \"$LOCAL\" -d \"$REMOTE\"
[merge]
	tool = semanticmerge
[mergetool "semanticmerge"]
	cmd = \"C:\\Users\\jscherber\\AppData\\Local\\semanticmerge\\semanticmergetool.exe\" -s \"$LOCAL\" -d \"$REMOTE\" -b \"$BASE\" -r \"$MERGED\"
	trustexitcode = true
[mergetool]
	prompt = false
	keepbackup = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	uncommit = git reset --soft HEAD^
